 *  {
     box-sizing: border-box; 
   }      

/*  title page */
.header {  
    display:flex;
    justify-content: space-between;
    background:rgb(192, 228, 242); 
    height: fit-content;
    padding:20px;
    margin-bottom: 0px;
    
}

.header-title{
    font-size: 20px;
    font-style: italic;
    /* background-color: plum !important; */
    padding: 2px;
    
}


.image {
      background-image: url(../psychedelic.jpg);
      height: 400px;
      padding: 200px;
      margin:10px; 
      background-repeat:no-repeat;
      background-size: cover;
      background-position: center;

}
/*  use your illusion */
.image p {
    float: right;
    display: flex;
    justify-content: flex-end;
    color:pink;
    margin-top: 100px;

    font-size: 30px;
    width: fit-content;

}


/* links / nav bar */
nav ul {
    display: flex;
    justify-content: space-between;
    color:black;
    min-width:400px;
    
  }  
nav a {
    font-weight: bolder;
    text-decoration: underline;

}

/*  spacing that seperates the paragraphs/sections and the sides */
section {
    margin: 0px 10px 0px -20px;
 
}
.flex-container{
    position: relative;
    margin-right: -10px;
    margin-left: 10;
    border-radius:5px;
}


.titles {
    /* margin: auto auto; */
    float: left;
    width: 20%;
}

/*  background settings for container with h1 */
.titles-background-1 {
    /* margin-top: 10px; */
    background-color: skyblue;
     border-right: solid;
    border-right-width: 5px; 
    padding-top: 50px;
    padding-bottom: 120px;
    padding-right: 105px; 
}

/*  H1 settings */
.titles-container h1{
    font-size: 30px;
    display: flex; 
    flex-grow: 1;
    background-color: red; 
    border:solid;
    padding-left: 50px

  
}

/*  settings for paragraph container */
.about-me-container {
    display: inline-flex;
    background: rgb(114, 150, 150);
    height: 200px;
    font-size:24px;
 
}
/* settings for pargraph itself */
.about-me-paragraph {
    margin:auto;
}

.work-container {
    display:flex;
    flex-direction: row;
    background: rgb(114, 150, 150);
    height: fit-content;
    padding: 0px 20px;
 
}
.titles-background-2{
    background-color:skyblue;
    flex-grow: 1;
    border-right: solid;
    border-right-width: 5px; 
    padding-bottom: 1120px;
    padding-right: 161px;
   
} 
.titles-container h2{
    font-size: 30px;

    background-color:orangered;
    border:solid;
}
fo
.work-items {
    margin: 0 auto;
    display: inline-block;
    flex-direction: row;
    flex-wrap: wrap;
}

.row-1 {
    margin: 0 25% !important;
    display: inline-flex;
    flex-direction: row;
}

.row-2 {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

.work-items div {
    margin: 20px 20px;
}

.work-item-1 {
    height: 300px;
    width: 500px;
    flex-grow: 4;
    /* background-color: black; */
    background-image: url(../Belau.jpg);
    background-size: cover;
    /* border: solid 5px; */

}
.picture-box{
    display: inline-flex;
    /* border:dashed; */
    background-color: transparent;
    
   
}
.inside-box{
    color: white;
    font-size: 30px;
}

.picture-box-2{
    display: inline-flex;
    flex-grow: 4;
    color:black;
    /* border: dashed; */
    background-color: transparent;
}
.inside-box-2{
    color: black;
    flex-grow: 4;
    font-size: 20px;
}


.work-item-2 {
    height: 300px;
    width: 300px;
    /* background-color: black; */
    background-image: url(../I.jpg);
    background-size: cover;
    flex-grow: 4;

}

.work-item-3 {
    height: 300px;
    width: 300px;
    /* background-color: black; */
    background-image: url(../daob2.jpg);
    background-size: cover;
    flex-grow: 4;
    
}

.work-item-4 {
    height: 300px;
    width: 300px;
    /* background-color: black; */
    background-image: url(../demul2.jpg);
    background-size: cover;
    background-position: center center;
    flex-grow: 4;

}


.work-item-5 {
    height: 300px;
    width: 300px;
    /* background-color: black; */
    background-image: url(../kedam2.jpg);
    background-size: cover;
    flex-grow: 4;
}

.contact-container {
      display: flex;
      background: rgb(114, 150, 150);
      justify-content: space-between;
      text-align: center;
      flex-direction: row;
   
   }
  
.titles-background-3{
      display: flex;
      flex-grow: 1;
      /* font-size: 20px; */
      background-color:skyblue;
      border-right: solid;
      border-right-width: 5px;
      padding-top: 20px;
      padding-right: 128px;
      padding-bottom: 40px;
  }
.titles-container h3{
      font-size: 20px;
      background-color: red;
  }
  
.footer-container{
      text-align: center;
      flex-grow: 4;
  }

.info a {  
   color: black;
   display:flex;
   flex-grow: 4;
   /* justify-content: space-around; */
   font-size: 20px;
   margin-right:3em;
   margin: 5% 5em 2% 0;
   text-decoration: underline;
 }