 *  {
    margin: 0;
    padding: 0;
    box-sizing: border-box; 
   }      

/*  title page */
.header {  
    display:flex;
    justify-content: space-between;
    background:black;
    height: fit-content;
    padding:20px;
    margin-bottom: -10px;
    
}
.portfolio {
    background-color: #BCC0C0;
    margin: 4px 0;
    padding: 5px 10px 5px 100px;
    border-radius: 0 10px 10px 0;
}

.portfolio h1 {
    font-size: 45px;
    color: #010101;
}

.links {
    display: flex;
    flex-direction: row;
    list-style: none;
    padding: 10px;
}

.links a {
    text-decoration: none;
    color: #BCC0C0;
    border-bottom: solid 3px #BCC0C0;
    padding: 5px 12px;
}

.links a:hover {
    color:black;
    border-bottom: solid 3px #131313;
}

/* links / nav bar */
nav ul {
    display: flex;
    justify-content: space-between;
    color:black;
    min-width:400px;
    
  }  
nav a {
    font-weight: bolder;
    text-decoration: underline;

}

.image {
    background-image: url(../images/belau.kamikaze.jpg);
    height: 400px;
    padding: 200px;
    margin:0px; 
    background-repeat:no-repeat;
    background-size: cover;
    background-position: center;

}

/*  spacing that seperates the paragraphs/sections and the sides */
section {
    margin: 0px 10px 0px -20px;
 
}
.flex-container{
    position: relative;
    margin-right: -10px;
    margin-left: 10;
    border-radius:5px;
}


.titles {
    /* margin: auto auto; */
    float: left;
    width: 20%;
}

/*  background settings for container with h1 */
.titles-background-1 {
    /* margin-top: 10px; */
    background-color: skyblue;
     border-right: solid;
    border-right-width: 5px; 
    padding-top: 50px;
    padding-bottom: 120px;
    padding-right: 105px; 
}

/*  H1 settings */
.titles-container h1{
    font-size: 30px;
    display: flex; 
    flex-grow: 1;
    background-color: red; 
    border:solid;
    padding-left: 50px

  
}

/*  settings for paragraph container */
.about-me-container {
    display: inline-flex;
    background: rgb(114, 150, 150);
    height: 200px;
    font-size:24px;
 
}
/* settings for pargraph itself */
.about-me-paragraph {
    margin:auto;
}

.work-container {
    display:flex;
    flex-direction: row;
    background: rgb(114, 150, 150);
    height: fit-content;
    padding: 0px 20px;
 
}
.titles-background-2{
    /* background-color:skyblue;
    flex-grow: 1;
    border-right: solid; */
    border-right-width: 5px; 
    padding-bottom: 1120px;
    padding-right: 161px;
   
} 
.titles-background-3{
    display: flex;
    /* flex-grow: 1; */
    /* font-size: 20px; */
    /* background-color:skyblue; */
    border-right: solid;
    border-right-width: 5px;
    padding-top: 20px;
    /* padding-right: 128px; */
    padding-bottom: 40px;
}
.titles-container h2{
    font-size: 30px;

    background-color:orangered;
    border:solid;
}
fo
.work-items {
    margin: 0 auto;
    display: inline-block;
    flex-direction: row;
    flex-wrap: wrap;
}

.row-1 {
    margin: 0 25% !important;
    display: inline-flex;
    flex-direction: row;
}

.row-2 {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

.work-items div {
    margin: 20px 20px;
    border-radius: solid 6px #131313;
    display: flex;
    
}
.work-items :hover{
    -webkit-filter: blur(4px);
    filter: blur(4px);

}

.work-item-1 {
    height: 300px;
    width: 500px;
    flex-grow: 4;
    background-image: url(../images/Belau.jpg);
    background-size: cover;
}

.picture-box{
    display: inline-flex;
    background-color: transparent;
}

.inside-box{
    color: white;
    font-size: 30px;
}

.picture-box-2{
    display: inline-flex;
    flex-grow: 4;
    color:black;
    background-color: transparent;
}
.inside-box-2{
    color: black;
    flex-grow: 4;
    font-size: 20px;
}


.work-item-2 {
    height: 300px;
    width: 300px;
   
    background-image: url(../images/I.jpg);
    background-size: cover;
    flex-grow: 4;

}

.work-item-3 {
    height: 300px;
    width: 300px;

    background-image: url(../images/daob2.jpg);
    background-size: cover;
    flex-grow: 4;
    
}


   /* contact start */
.contact {
    display: flex;
    list-style: none;
    justify-content: space-evenly;
    flex-grow: 1;
}

.contact li {

}

.contact a {
    text-decoration: none;
    font-size: 22px;
    color: #131313;
}

.contact a:hover {
    font-weight: bold;
    border-bottom: 3px solid #131313
}

/*  me dia section */


 @media screen and (max-width: 992px) {
    .work-container {
      width: 50%;
    }
    /* Change the header color */
    header {
      background: #772014;
    }
  }
  
  /* Cards are stacked on top of each other at 768px or smaller */
  @media screen and (max-width: 768px) {
    .work-container {
      width: 100%;
    }
    /* Change the header color */
    header {
      background: #8ac4ff;
    }
  }
  